.weather-forecast {
    --weather-background: #fff;
	background: var(--weather-background);
	display: flex;
	--weather-justify: space-between;
	justify-content: var(--weather-justify);
	--weather-icon-color: #000000;
	--weather-gap: 5px;
	gap: var(--weather-gap);
    max-width: 800px;
    margin: 0 auto;
    --weather-block-padding: 10px 2px;
	padding: var(--weather-block-padding);
}

.weather-forecast .weather-day {
    flex: 1;
    text-align: center;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weather-forecast .current-weather {
    flex: 1.5;
    padding: 15px 10px 15px 10px !important;
    border-right: 1px solid #dfdfdf;
    gap: 10px;
}

.weather-forecast .weather-location {
    font-size: 28px;
    margin: 0px 0px 10px 0px;
    color: #015fa8;
}

.weather-forecast .current-weather-main {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 29px;
}

.weather-forecast .weather-icon:not(.current-weather .weather-icon) {
    width: 55px;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weather-forecast .current-weather .weather-icon {
    height: 85px;
    width: 65px;
}

.weather-forecast .current-weather-meta span {
    margin: 0px 4px 0px 4px;
}

.weather-forecast .current-weather-meta {
    font-size: 15px;
    color: #6c757d;
    font-weight: 400;
    display: flex;
}

.weather-forecast .weather-day-header {
    font-size: 15px;
    font-weight: bold;
}

.weather-forecast .weather-day-name {
    font-weight: lighter;
    margin-right: 5px;
}

.weather-forecast .weather-temp-range {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.weather-forecast .temperature-min__icon {
    width: 6px;
    fill: #6c757d;
}

.weather-forecast .temperature-max__icon {
    width: 6px;
    fill: #000;
    transform: rotate(180deg);
}

.weather-forecast .temp-max,
.weather-forecast .temp-min {
    font-size: 15px;
    color: #000;
}

.weather-forecast .temp-max {
    color: #000;
}

.weather-forecast .temp-min {
    color: #6c757d;
}

.weather-forecast .weather-precipitation {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}

@media (max-width: 1099px) {
    .weather-forecast .current-weather-meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .weather-forecast .current-weather-meta span {
        display: none;
    }
}

@media (max-width: 699px) {
    .weather-forecast {
        flex-direction: column;
    }

    .weather-forecast .weather-day,
    .weather-forecast .weather-main-info {
        flex-direction: row;
        justify-content: space-between;
    }

    .weather-forecast .current-weather {
        border-right: none;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 10px;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 30px !important;
    }

    .weather-forecast .current-weather-meta {
        align-items: flex-start;
    }

    .weather-forecast .weather-day-header {
        width: 50px;
    }

    .weather-forecast .weather-precipitation {
        width: 70px;
    }

    .weather-forecast .weather-main-info,
    .weather-forecast .weather-day {
        gap: 10px;
    }

    .weather-forecast .weather-main-info {
        display: flex;
        width: 75%;
        align-items: center;
    }

    .weather-forecast .weather-icon {
        width: 50px;
        height: 40px;
    }

    .weather-forecast .weather-location {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .weather-forecast {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    .current-weather {
        grid-column: 1 / -1;
    }
}